/*Portfolio page coded by Jeffrey Grinberg*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
	-webkit-font-smoothing: antialiased;
}
/*Aways There*/
#container {
	height: 100%;
}
.title {
	text-align: center;	
	color: black;
	font-size: 65px;
}
/*Animation Section*/
#down:hover, .fa.fa-envelope-o.fa-lg:hover, .fa.fa-twitter.fa-lg:hover, .fa.fa-linkedin.fa-lg:hover, .fa.fa-github.fa-lg:hover {
	cursor: pointer;
	z-index: 1000;
	-webkit-animation-name: pulse;
    animation-name: pulse;
	animation-duration: .7s;
	animation-timing-function: ease-out;
}
@-webkit-keyframes pulse {
	 0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }	
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
/*Menu*/
#menu {
	width: 70px;
	z-index: 99999;
	position: fixed;
}
#menu-logo {
	cursor: pointer;
	z-index: 1;
}
#menu-buttons {
	width: 58px;
	background-color: black;
	list-style: none;
	margin-top: -7px;
	text-align: center;
	padding-left: 2px;
}
.active {
	background: rgba(108,122,125,.7);	
	z-index: 9999;
}
#menu-p {
	color: white;
	font-size: 13px;
	padding: 10px 20px 10px 2px;
}
#menu-c {
	color: white;
	font-size: 13px;
	padding: 10px 20px 10px 5px;
}
#menu-am {
	color: white;
	font-size: 13px;
	padding: 10px 1px 10px 0px;
}
#menu-am, #menu-p {
	margin-left: -2px;	
}
#menu-c {
	margin-left: -2px;
}
#menu-am:hover, #menu-p:hover, #menu-c:hover{
	background: rgba(255, 255, 255,.3);
	cursor: pointer;
}
/*Contact Div*/
#contact-div {
	width: 220px;
	text-align: center;
	padding-left: 10px;
	position: fixed;
	background-color: black;
	z-index: 9999;
}
a {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;	
}
.contact-images {
	list-style: none;
	text-align: center;
}
.contact-images li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
/*Intro Section*/
#intro-section {
	text-align: center;
}
#intro-section, #about-me{
	height: 100%;
	overflow: hidden;
}
#name {
	color: black;
}
/*Logo Section*/
#logo-canvas {
	background-color: black;
	width: 125px;
	height: 125px;
	margin: 0 auto;
	margin-top: 170px;
}
#g {
	font-size: 70px;
	color: white;
	padding-top: 15px;
}
#dot {
	margin-top: -182px;
	padding-left: 28px;
	font-size: 60px;
	color: white;
}
#down {
	margin-top: 30px;
	color: black;
	cursor: pointer;
}
/*About Me Section*/
#about-me {
	margin-top: 50px;
	margin-left: 60px;
}
#para-container {
	color: black;
	width: 90%;
	height: 50%;
	margin: 0 auto;
	padding: 2px;
	padding-top: 200px;
}
.am-p {
	font-size: 120%;	
}
#love {
	color: red;	
}
/*Portfolio Section (aside from plug-in files)*/
#portfolio {
	height: 70%;
	padding-left: 60px;
}
.btn.btn-primary {
	border: 1px solid black;
	padding: 2px;
	color: black;
}
.skill {
	background-color: black;
	color: white;
	padding: 4px;
	margin-left: 5px;
}

